{% extends 'base.html' %}

{% block title %}Klinik{% endblock %}

{% block content %}
<div class="container">
    <aside class="sidebar">
        <!-- Isi sidebar di sini -->
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                  <span></span>
                </a>
          </div>
          <div class="side-inner">
      
            <div class="logo-wrap">
              <div class="logo">
                <span>C</span>
              </div>
              <span class="logo-text">Rumah Sakit Bahagia</span>
            </div>
              
            <div class="search-form">
              <form action="#">
                <span class="wrap-icon">
                  <span class="icon-search2"></span>
                </span>
                <input type="text" class="form-control" placeholder="Search...">
              </form>
            </div>
            <div class="nav-menu">
              <ul>
                <li class="active"><a href="{{ url_for('home') }}" class="d-flex align-items-center"><span class="wrap-icon icon-home2 mr-3"></span><span class="menu-text">Home</span></a></li>
                <li><a href="{{ url_for('pasien_page') }}" class="d-flex align-items-center"><span class="wrap-icon icon-videocam mr-3"></span><span class="menu-text">Pasien</span></a></li>
                <li><a href="{{ url_for('dokter_page') }}" class="d-flex align-items-center"><span class="wrap-icon icon-book mr-3"></span><span class="menu-text">Dokter</span></a></li>
                <li><a href="{{ url_for('janji_page') }}" class="d-flex align-items-center"><span class="wrap-icon icon-shopping-cart mr-3"></span><span class="menu-text">Janji</span></a></li>
                <li><a href="{{ url_for('riwayat_page') }}" class="d-flex align-items-center"><span class="wrap-icon icon-pie-chart mr-3"></span><span class="menu-text">Riwayat</span></a></li>
                <li><a href="{{ url_for('rawat_inap_page') }}" class="d-flex align-items-center"><span class="wrap-icon icon-cog mr-3"></span><span class="menu-text">Rawat Inap</span></a></li>
                <li><a href="{{ url_for('klinik_page') }}" class="d-flex align-items-center"><span class="wrap-icon icon-cog mr-3"></span><span class="menu-text">Klinik</span></a></li>
                <li><a href="{{ url_for('obat_page') }}" class="d-flex align-items-center"><span class="wrap-icon icon-cog mr-3"></span><span class="menu-text">Obat</span></a></li>
                <li><a href="{{ url_for('alat_medis_page') }}" class="d-flex align-items-center"><span class="wrap-icon icon-cog mr-3"></span><span class="menu-text">Alat medis</span></a></li>
      
              </ul>
            </div>
          </div>
    </aside>
    <main class="content">
      <h1>Selamat datang di halaman alat medis!</h1>
      <p>Ini adalah konten spesifik untuk halaman alat medis.</p>
      <h2>Daftar Klinik</h2>
      <table class="styled-table">
          <thead>
              <tr>
                  <th>No</th>
                  <th>Nama Alat</th>
                  <th>Deskripsi</th>
                  <th>Jumlah</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              {% for fungsi in medis %}
              <tr>
                <td>{{ fungsi['alat_id'] }}</td>
                <td>{{ fungsi['nama_alat'] }}</td>
                <td>{{ fungsi['deskripsi'] }}</td>
                <td>{{ fungsi['jumlah'] }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      
<a href="#" class="btn-add-dokter">Add Alat</a>
  </main>  
  </div>
  
  <style>
      .container {
          display: flex;
      }
      .styled-table {
          width: 100%;
          border-collapse: collapse;
          margin: 25px 0;
          font-size: 18px;
          text-align: left;
      }
      .styled-table thead tr {
          background-color: #009879;
          color: #ffffff;
          text-align: left;
      }
      .styled-table th, .styled-table td {
          padding: 12px 15px;
      }
      .styled-table tbody tr {
          border-bottom: 1px solid #dddddd;
      }
      .styled-table tbody tr:nth-of-type(even) {
          background-color: #f3f3f3;
      }
      .styled-table tbody tr:last-of-type {
          border-bottom: 2px solid #009879;
      }
      .btn-edit, .btn-delete, .btn-add-dokter{
          padding: 6px 12px;
          color: #fff;
          text-decoration: none;
          border-radius: 4px;
          margin-right: 5px;
      }
      .btn-edit {
          background-color: #4CAF50;
      }
      .btn-delete {
          background-color: #f44336;
      }
      .btn-add-dokter{
          background-color: blue;
      }
      .btn-edit:hover, .btn-delete:hover {
          opacity: 0.8;
      }
  </style>
{% endblock %}
