{% extends 'base.html' %}

{% block title %}Rawat Inap{% endblock %}

{% block content %}
    {% set active_page = 'rawat_inap' %}
    {% include 'sidebar.html' %}
    <main class="content">
        <!-- Isi konten utama di sini -->
        <h1>Selamat datang di halaman rawat inap!</h1>
        <p>Ini adalah konten spesifik untuk halaman rawat inap.</p>
    </main>
    {% endblock %}

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}