<!-- sidebar.html -->
<aside class="sidebar">
    
    <div class="side-inner">
        <div class="toggle">
            <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span></span>
            </a>
        </div>

      <div class="logo-wrap">
        <div class="logo">
          <span>C</span>
        </div>
        <span class="logo-text">Rumah Sakit Bahagia</span>
      </div>
        
      <div class="search-form">
        <form action="#">
          <span class="wrap-icon">
            <span class="icon-search2"></span>
          </span>
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
      <div class="nav-menu">
        <ul>
          <li class="active"><a href="/" class="d-flex align-items-center"><span class="wrap-icon icon-home2 mr-3"></span><span class="menu-text">Home</span></a></li>
          <li class="active"><a href="/pasien" class="d-flex align-items-center"><span class="wrap-icon icon-videocam mr-3"></span><span class="menu-text">Pasien</span></a></li>
          <li class="active"><a href="/dokter" class="d-flex align-items-center"><span class="wrap-icon icon-book mr-3"></span><span class="menu-text">Dokter</span></a></li>
          <li class="active"><a href="/janji" class="d-flex align-items-center"><span class="wrap-icon icon-shopping-cart mr-3"></span><span class="menu-text">Janji</span></a></li>
          <li class="active"><a href="/riwayat" class="d-flex align-items-center"><span class="wrap-icon icon-pie-chart mr-3"></span><span class="menu-text">Riwayat</span></a></li>
          <li class="active"><a href="/rawat_inap" class="d-flex align-items-center"><span class="wrap-icon icon-cog mr-3"></span><span class="menu-text">Rawat Inap</span></a></li>
        </ul>
      </div>
    </div>
    
  </aside>

<!-- <style>
    .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #111;
        padding-top: 20px;
    }
    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }
    .sidebar ul li {
        padding: 8px;
        text-align: center;
        margin-bottom: 10px;
    }
    .sidebar ul li a {
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
    }
    .sidebar ul li a:hover {
        background-color: #575757;
    }
</style> -->
